 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    background-color: #000000;
    color: #fff;
    margin-bottom: 7px;
}
body{
    background: rgb(53, 53, 53);
}


.h1{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}
.h2{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight:  500;
}
.h3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}


#logo{
    width: 150px;
}
.hero{
    background-image: url("netflix_webpage1.jpg");
    height: 110vh;
    display: flex;
    flex-direction: column;
}
input[type=text] {
    width: 350px;
    height: 55px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: rgb(44, 46, 48);
    line-height: 1.1rem;
}
.start{
    color: white;
    font-weight: 500;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 25px;
    background-color: rgb(212, 35, 35);
    border-radius: 4px;
    text-decoration: none;
}
.start_link{
    display:flex;
    align-items: center;
    height: 50px;
    gap: 10px;
}
.logo_link{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 150px;
}
.sign_in{
    padding: 0px 15px;
    background-color: red;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    max-height: 32.5px;
}
.hero_content{
    display: flex;
    flex-direction: column ;
    gap: 20px;
    align-items: center;
    padding: 180px 130px;
    font-family: 'Poppins', sans-serif;  
}


.sec1{
    padding: 155px 150px;
    display: flex;
}
.texts1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    width:480px;
}
.video{
    justify-content: right;
    margin-left: 50px;
}


.sec2{
    padding: 100px;
    display: flex;
}
.texts2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    width: 500px;
    margin-left: 100px;
}
.images2{
    width: 20%;
    margin-left: 200px;
}


.texts3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    width: 790px;
    padding: 70px 190px;
}


.sec4{
    padding: 80px;
    display: flex;
}
.texts4{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    width: 520px;
    margin-left: 50px;  
}
.images4{
    width: 36%;
    margin-left: 100px;
}


.sec5{
    padding: 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.bottom_sign_in{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    align-items: center;
}
/* .faqs{
    padding: 20px;
    width: 88%;
    display: flex;
    flex-direction: column;
} */
.faq{
  width: 88%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.icon{
  width: 30px;
  transition: 0.3s ease;
}
.opened{
  transform: rotate(45deg);
  transition: 0.3s ease;
}
.button{
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 20px;
  font-size: 24px;
}
.details{
  background-color: rgb(53, 53, 53);
  color: white;
  font-size: 24px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.collapsed{
  display: none;
}


.sec6{
    padding: 40px 150px;
}
.links{
    color: rgb(185, 185, 185);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.rows{
    line-height: 30px;
}
.cols{
    line-height: 70px;
    column-width: 320px;
    text-align: left;
}
.texts6{
    color: rgb(189, 189, 189);
    font-weight: 400;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}